@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bentham&family=Lexend&family=Literata:opsz@7..72&family=Montserrat&family=Playfair+Display&family=Playfair+Display+SC:wght@900&family=Poppins&family=Roboto&display=swap');

@import url('card.css');
@import url('catalogue.css');
@import url('commentaire.css');
@import url('ficheBiere.css');
@import url('grid.css');
@import url('topNav.css');

:root {
    --gouttiere: 3vw;
    --degagement: max(3vh, 25px);
    --rythme: 1.5em;

    --paddingWrapper: 0 6vw;

    --cardShadow: 0px 0px 15px -12px;
}

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

html,
body {
    margin: 0px;
    padding: 0px;
}

h5+h4 {
    margin-top: 0.5em;
}

section {
    margin: 50px 0;
}

img {
    width: 100%;
}

td {
    padding: 0 1.3em;
}


/***************************
* Main
****************************/
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main aside {
    display: flex;
    flex-direction: column;
}


/************************
Utilitaire
************************/

.filler {
    flex-grow: 1;
}

.wrapper {
    padding: var(--paddingWrapper);
    position: relative;
    width: 100%;
}

.input--comment {
    display: flex;
    flex-direction: column;
}

.formCommentaire {
    padding: 0.5em;
    max-width: 50ch;
}

.formCommentaire>* {
    margin: 0.5em 0;
}

.error {
    color: red;
}

.envoyerCommentaire {
    padding: 0.3em 0.5em;
    background-color: turquoise;
    width: fit-content;
}

.envoyerCommentaire:hover {
    cursor: pointer;
}


.stars span {
    display: inline-block;
    width: 25px;
}

.stars--tiny span {
    width: 20px;
}
